body {
	background-blend-mode: screen;
	background: linear-gradient(limegreen, transparent),
		linear-gradient(90deg, skyblue, transparent),
		linear-gradient(-90deg, coral, transparent);
	font-family: "Play", sans-serif;
}

body::before {
	content: "";
	position: absolute;
	inset: 0;
	background-color: rgba(255, 255, 255, 0.3);
	filter: blur(10px);
	z-index: -1;
}

.blur-background {
	height: 100%;
	width: 100%;
	position: absolute;
	inset: 0;
	background: linear-gradient(rgba(107, 255, 107, 0.762), transparent),
		linear-gradient(90deg, rgba(154, 226, 255, 0.766), transparent),
		linear-gradient(-90deg, rgba(255, 152, 114, 0.77), transparent);
	backdrop-filter: blur(2px);
	z-index: 800;
}

.blur-background::before {
	content: "";
	position: absolute;
	inset: 0;
	background-color: rgba(255, 255, 255, 0.3);
	filter: blur(10px);
	z-index: -1;
}
